extends layout
block content
  h1 Fake News Repo
  .row
    .col-md-8.card.offset-md-2(data-id=post._id style="padding-left:0;padding-right:0;")
      if post.media
        .card-block.mediaPreview
          a.mediadiv(href=post.url)
            if post.videoFlag
              .iframeDiv
                iframe(src=post.videoObj.src)
            if post.imageFlag
              .imageDiv.image-16by9
                img(src=post.imageSrc)
            a.urlTitle(href=post.url target="_blank" style="font-size:16px;")
              label(style="font-weight:bold;color:black;padding:0 7px;margin-bottom:0px") #{post.linkTitle}
            div(style="font-size:12px;text-align:left;padding-left:5px;color:#9b9b9b;padding:0 7px") #{post.linkDescription}
      if user
        .actionBlock
          .actionOption
            if post.likeFlag
              i.material-icons.clickable.thumbUp.active(data-id=post._id) thumb_up
              span.likeCount.active #{post.likes}
            else
              i.material-icons.clickable.thumbUp(data-id=post._id) thumb_up
              span.likeCount #{post.likes}
            if post.dislikeFlag
              i.material-icons.clickable.thumbDown.active(data-id=post._id) thumb_down
              span.dislikeCount.active #{post.dislikes}
            else
              i.material-icons.clickable.thumbDown(data-id=post._id) thumb_down
              span.dislikeCount #{post.dislikes}
  .row  
    .commentBlock_container.col-md-8.offset-md-2(data-id=post._id)
      h6(style="margin-left:10px") Comments
      if user
        textArea.addComment(type="text" style="width:100%;padding:10px" placeholder="Add Comment(s)")
        button.btn.btn-success.btn-raised(style="float:right;position:relative;margin-top:5px;margin-bottom:15px;font-size:14px" data-id=post._id) Submit
      div.commentSectionDiv(style="margin-top:35px;padding:20px")
        each comment in comments
          div.commentDiv(data-id=comment._id)
            div.commentUser
              i.fa.fa-user(aria-hidden="true")
              span.userName(style="font-weight:bold;") #{comment.userName}
              if user
                if user._id == comment.userId
                  i.fa.fa-trash.clickable.deleteComment(data-id=comment._id)
            div.commentText(style="margin-left:20px")
              |  #{comment.comment_text}